<template>
    <div>
        <article class="media">
            <figure class="media-left">
                <router-link
                    v-if="comment.author.avatar"
                    class="image is-48x48 is-square"
                    :to="{ name: 'user-page', params: { id: comment.author.id } }"
                >
                    <img class="is-rounded fit" :src="comment.author.avatar">
                </router-link>

                <router-link v-else :to="{ name: 'user-page', params: { id: comment.author.id } }">
                    <DefaultAvatar class="image is-48x48" :user="comment.author" />
                </router-link>
            </figure>
            <div class="media-content">
                <div class="content columns">
                    <p>
                        <strong>
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </strong>
                        <br>
                        {{ comment.body }}
                        <br>
                        <small class="has-text-grey">
                            {{ comment.created | createdDate }}
                        </small>
                    </p>

                    <figure v-if="comment.imageUrl" class="image is-3by1 comment-image">
                        <img
                            :src="comment.imageUrl"
                            alt="Comment image"
                            @click="showImageModal"
                        >
                    </figure>
                    <nav class="level is-mobile">
                        <div class="level-left" @click="onLikeOrDislikeComment">
                            <b-tooltip label="Like" animated class="like">
                                <a class="level-item">
                                <span
                                    class="icon is-medium has-text-info"
                                    :class="{
                                        'has-text-danger': commentIsLikedByUser(comment.id, user.id)
                                    }"
                                >
                                    <font-awesome-icon icon="heart" />
                                </span>
                                </a>
                            </b-tooltip>
                        </div>
                        <a class="count-likes" @click="onOpenModuleUsersLikeComment">
                            {{ comment.likesCount }}
                        </a>
                    </nav>
                </div>
                <div v-if="isCommentOwner(comment.id, user.id)" class="column is-narrow is-12-mobile">
                    <div class="buttons">
                        <b-button type="is-warning" @click="onEditComment">Edit</b-button>
                        <b-button type="is-danger" @click="onDeleteComment">Delete</b-button>
                    </div>
                </div>
            </div>
        </article>

        <b-modal :active.sync="isImageModalActive">
            <p class="image is-4by3">
                <img class="fit" :src="comment.imageUrl">
            </p>
        </b-modal>

        <b-modal :active.sync="isEditCommentModalActive" has-modal-card>
            <EditCommentForm :comment="comment" :tweet-id="tweetId" />
        </b-modal>

        <b-modal :active.sync="isUsersLikeModalActive">
            <b-table
                :data="comment.usersLike"
                :columns="columns"
            ></b-table>
        </b-modal>
    </div>
</template>

<script>
import DefaultAvatar from '../../common/DefaultAvatar.vue';
import showStatusToast from '../../mixin/showStatusToast';
import { mapActions, mapGetters } from "vuex";
import EditCommentForm from "./EditCommentForm";

export default {
    name: 'Comment',

    mixins: [showStatusToast],

    data: () => ({
        isEditCommentModalActive: false,
        isImageModalActive: false,
        isUsersLikeModalActive: false,
        columns: [
            {
                field: 'first_name',
                label: 'First Name',
            },
            {
                field: 'last_name',
                label: 'Last Name',
            },
            {
                field: 'nickname',
                label: 'Nickname',
            },
            {
                field: 'like_date',
                label: 'Date',
                centered: true
            },
        ],
    }),

    components: {
        EditCommentForm,
        DefaultAvatar,
    },

    props: {
        comment: {
            type: Object,
            required: true,
        },
        tweetId: {
            type: Number,
            required: true,
        },
    },

    computed: {
        ...mapGetters('auth', {
            user: 'getAuthenticatedUser'
        }),
        ...mapGetters('comment', [
            'commentIsLikedByUser',
            'isCommentOwner',
        ]),
    },

    methods: {
        ...mapActions('comment', [
            'likeOrDislikeComment',
            'fetchComments',
            'deleteComment',
        ]),

        onEditComment() {
            this.isEditCommentModalActive = true;
        },

        async onLikeOrDislikeComment() {
            try {
                await this.likeOrDislikeComment({
                    id: this.comment.id,
                    userId: this.user.id
                });

                await this.fetchComments({
                    tweetId: this.tweetId,
                });
            } catch (error) {
                console.error(error.message);
            }
        },

        onDeleteComment() {
            this.$buefy.dialog.confirm({
                title: 'Deleting comment',
                message: 'Are you sure you want to <b>delete</b> your comment? This action cannot be undone.',
                confirmText: 'Delete Comment',
                type: 'is-danger',

                onConfirm: async () => {
                    try {
                        await this.deleteComment(this.comment.id);

                        await this.fetchComments({
                            tweetId: this.tweetId,
                        });

                        this.showSuccessMessage('Comment deleted!');
                    } catch {
                        this.showErrorMessage('Unable to delete comment!');
                    }
                }
            });
        },

        showImageModal() {
            this.isImageModalActive = true;
        },

        onOpenModuleUsersLikeComment() {
            this.isUsersLikeModalActive = true;
        },
    }
};
</script>

<style lang="scss" scoped>
@import "~bulma/sass/utilities/initial-variables";
@import "../../../styles/common";

nav {
    margin-left: -8px;
    display: inline-flex !important;
}

.content {
    display: block;
    p {
        margin-bottom: 0;
    }
}
.like {
    .level-item {
        margin: 0 !important;
    }
    .count-likes {
        padding: 5px 0 0 0;
    }
}
</style>
