<template>
    <div class="container desktop">
        <TweetPreviewList :tweets="tweets" @infinite="infiniteHandler"/>
        <NoContent :show="noContent" title="No favorite tweets yet :)" />
    </div>
</template>

<script>
import TweetPreviewList from '../components/common/TweetPreviewList.vue';
import { mapActions, mapGetters } from "vuex";
import showStatusToast from "../components/mixin/showStatusToast";
import NoContent from "../components/common/NoContent";

export default {
    name: 'FavoritePage',

    mixins: [showStatusToast],

    data: () => ({
        tweets: [],
        page: 1,
        noContent: false,
    }),

    components: {
        TweetPreviewList,
        NoContent,
    },

    methods: {
        ...mapActions('tweet', [
            'fetchFavorite',
        ]),

        async init() {
            try {
                this.tweets = await this.fetchFavorite({
                    userId: this.$route.params.id,
                    page: 1
                });

                if (!this.tweets.length) {
                    this.noContent = true;
                }
            } catch (error) {
                this.showErrorMessage(error.message);
            }
        },

        async infiniteHandler($state) {
            try {
                const tweets = await this.fetchFavorite({
                    userId: this.$route.params.id,
                    page: this.page + 1,
                });

                if (tweets.length) {
                    this.page += 1;
                    $state.loaded();
                } else {
                    $state.complete();
                }
            } catch (error) {
                this.showErrorMessage(error.message);
                $state.complete();
            }
        },
    },

    mounted() {
        this.init();
    }
};
</script>

<style lang="scss" scoped>
</style>
